/* Variables */ 
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-light: #ffffff;
$color-dark: #2c2c54;
$color-four: #888585;
$color-lightgray: #EBEBEB;
$font-fancy: 'Dancing Script', sans-serif;
$font-text: 'Lato', sans-serif;

/* Global */
*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: $color-dark;
    font-family: $font-text;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.page-title {
    text-align: center;    
    font-size: 72px; 
    color: $color-light;
    margin: 0;
}

.page-subtitle {
    color: $color-light;
    text-align: center;
    font-size: 48px;
    font-family: $font-fancy;
}

.section-title {
    text-align: center;    
    font-size: 36px; 
    color: $color-dark;
    margin-top: 12px;
    padding-top: 72px;
}

.section-subtitle {
    color: $color-four;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    margin: 12px 0;
    font-style: italic;
}

.smallsection-title {
    text-align: center;    
    font-size: 24px; 
    color: black;
    margin: 0 12px;
}

.smallsection-subtitle {
    color: $color-four;
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Splash */
.splash {
    background-image: url('https://cdn.pixabay.com/photo/2014/05/03/00/46/gadgets-336635_1280.jpg');
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;  
}

.splash-logo {
    font-family: $font-fancy;
    padding-left: 12px;
}

.splash-nav {
    display: flex;
    justify-content: space-between;
}

.splash-nav h5 {
    margin: 0;   
    font-size: 36px;
    color: gold;
    font-style: italic;
}

.splash ul {
    list-style-type: none;
}

.splash li {
    display: inline-block;
    font-size: 24px;
    padding-right: 12px;
}

.splash li a {
    text-decoration: none;
    color: $color-light;
}

.splash-center { 
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash-center {
    color: $color-light; 
    text-align: center;
}

.splash-center a {
    text-decoration: none;
    padding: 18px 32px;
    font-size: 18px;
    margin: 0 auto;
    background: gold;
    color: $color-light;
}

.splash-center h4 {
    color: $color-light;    
}

/* Services */
.services-box {
    margin: 36px 72px;
    padding: 12px 36px;
    display: flex;
    justify-content: center;
}

.services-innerbox {
    text-align: center;
    padding: 24px;
}

.services-innerbox p:last-of-type {
    color: $color-four;
}

.services-innerbox i {
    color: gold;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 3px solid gold;
    border-radius: 50%;
    font-size: 30px;
}

/* Portfolio */
.portfolio {
    background: $color-lightgray;
    padding-bottom: 24px;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    margin: 36px 48px;  
}

.portfolio-innerbox {
    flex: 0 0 33.333%;
    padding: 36px 36px;
    height: 450px;
}

.portfolio-innerbox .portfolio-image {
    width: 100%;
    height: 75%;
}

.portfolio-innerbox .portfolio-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-innerbox .portfolio-content {
    height: 25%;
    background: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer small {
    font-size: 16px;
}

.footer-content {
    padding: 12px 12px;
}

.footer-content ul {
    list-style-type: none;
    margin: 0 auto;
}

.footer-content li {
    display: inline-block; 
    font-size: 0;
}

.footer-content a {
    text-decoration: none;   
}

.footer-content i {
    font-size: 18px;
    color: $color-light;
    background: black;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

/* Media */
@media (max-width: 767px) {
    .page-title {   
        font-size: 36px; 
    }
    .page-subtitle {
        font-size: 24px;
        margin: 0;
        padding-top: 24px;
    }  
    .section-title {   
        font-size: 18px; 
        padding-top: 48px;
    }
    .section-subtitle {
        font-size: 16px;
    }    
    .smallsection-title {   
        font-size: 18px; 
    }
    .smallsection-subtitle {
        font-size: 16px;
    }
    .splash-center p {
        padding-top: 12px;
    }
    .splash li {
        font-size: 12px;
        padding-right: 6px;
    }
    .services-box {
        flex-direction: column;
    }
    .portfolio-box {
        flex-direction: column;
        margin: 24px 24px;  
    }
    .portfolio-innerbox {
        margin: 0 24px;
        padding: 24px 24px;
        height: 400px;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    .page-title {   
        font-size: 48px; 
        padding-top: 18px;
        padding-bottom: 12px;
    }
    .page-subtitle {
        font-size: 36px;
        margin: 0;
    }  
    .section-title {   
        font-size: 24px; 
        padding-top: 48px;
    }
    .section-subtitle {
        font-size: 18px;
    }    
    .smallsection-title {   
        font-size: 24px; 
    }
    .smallsection-subtitle {
        font-size: 18px;
    }
    .splash {
        height: 500px;
    }
    .splash li {
        font-size: 12px;
        padding-right: 8px;
    }
    .services-box {
        display: flex;
        flex-direction: column;
    }
    .portfolio-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 36px 72px;  
    }
    .portfolio-innerbox {
        margin: 0 24px;
        padding: 24px 72px;
        height: 450px;
    }
}